$background: #F0F0F7;
$white: #FFFFFF;
$black: #444B59;
$cor1: #67B569;
$cor2: #B1CB3B;
$h1: #32264D;
$p: #9C98A6;
$btn-background: #DCDCE5;
$red: #eb5757;
$grey: #A6ACBE;
$light-red: rgba(235, 87, 87, 0.73);
$center-background: rgba(230, 230, 242, 0.30);
$letterhome: #585364;