.container{
    // width: 100%;
    // max-width: 121.6rem;
    // padding: 0 15px;
    // margin: 0 auto;
    position: absolute;
        left: 18.5rem;
        top: 17.8rem;
        right: 6.8rem;
        background-color: $center-background;
        bottom: 6.9rem;
        border-radius: 1rem;
}