header {
  background-color: white;
  width: 100%;
  height: 12.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .user {
    display: flex;
    align-items: center;
    button {
      display: flex;
      align-items: center;
      &:last-child {
        margin: 5rem 5rem;
      }
      .text {
        margin-right: 1.7rem;
        p, h2{
            text-align: right;
            letter-spacing: 0.02rem;
            font-family: "Poppins", sans-serif;
        }
        p {
          color: #000;
          font-size: 1.4rem;
          font-weight: 400;
        }
        h2 {
          color: $grey;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .arrow {
        display: flex;
        margin-right: 2rem;
      }
    }
  }
}

