button {
  @include style-btn(5.4rem, $vermelhoclaro, $hero-bg);
}
header {
  background-color: $hero-bg;
  height: 11.9rem;
  align-items: center;
  display: flex;
  .imagem {
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: space-between;
    .botoes {
      display: flex;
      cursor: pointer;
      .help {
        padding-right: 5.6rem;
        display: inline-flex;
        align-items: center;
      }
      .teste {
        display: inline-flex;
        align-items: center;
      }
      span {
        color: $white;
        padding-left: 1.6rem;
        font-size: 1.6rem;
      }
      @media screen and (max-width: 605px) {
        display: none;
      }
    }
    @media screen and (max-width: 605px) {
      justify-content: center;
    }
  }
}
.hero {
  .rectangle1 {
    background-color: $hero-bg;
    width: 100%;
    height: 57.9rem;
    .container {
      display: flex;
      justify-content: center;
      .text-hero {
        padding-top: 3.9rem;
        h1 {
          font-family: "PT Sans", sans-serif;
          color: $white;
          font-weight: 70rem;
          font-size: 4.8rem;
          line-height: 120%;
          padding-bottom: 1.6rem;
          @media screen and (max-width: 820px) {
            text-align: center;
            font-size: 4rem;
          }
        }
        p {
          font-size: 1.6rem;
          color: $white;
          padding-bottom: 3.2rem;
          @media screen and (max-width: 820px) {
            text-align: center;
          }
        }
        button {
          margin-bottom: 8.6rem;
          @media screen and (max-width: 991px) {
            margin-bottom: 2.5rem;
          }
          @media screen and (max-width: 1080px) {
            margin-bottom: 2.5rem;
          }
        }
        .recursos {
          display: flex;
          align-items: center;
          span {
            font-size: 1.6rem;
            padding-left: 1.6rem;
            color: $white;
          }
          @media screen and (max-width: 820px) {
            display: flex;
            justify-content: center;
          }
        }
        @media screen and (max-width: 991px) {
          max-width: 459px;
        }
        @media screen and (max-width: 820px) {
          display: flex;
          flex-direction: column;
          padding-top: 0;
        }
      }
      .img-hero {
        padding-top: 12.5rem;
        display: flex;
        justify-content: center;
        .desktop {
          img {
            @media screen and (max-width: 991px) {
              max-width: 100%;
            }
          }
          @media screen and (max-width: 991px) {
            padding-top: 5.5rem;
          }
          @media screen and (max-width: 820px) {
            // display: none;
            padding-top: 0 !important;
            max-width: 80%;
            padding-right: 3rem;
          }
          @media screen and(max-width: 600px) {
            max-width: 100%;
          }
          // @media screen and(max-width: 600px) {
          //   display: none;
          // }
        }
        .mobile {
          display: none;
          width: 100%;
          // @media screen and(max-width: 600px) {
          //   display: flex;
          // }
        }
        @media screen and(max-width: 482px) {
          padding-top: 2rem;
        }
      }
      @media screen and (max-width: 820px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.semi-hero {
  margin-top: 9.8rem;
  margin-bottom: 5.8rem;
  background-color: $white;
  width: 100%;
  height: 55.2rem;
  .container {
    .textos {
      padding-top: 5.1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 130%;
        color: $grey-01;
        max-width: 50.2rem;
        @media screen and(max-width: 490px) {
          text-align: center;
          padding-bottom: 3rem;
        }
      }
      p {
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 150%;
        color: $grey-02;
      }
      @media screen and(max-width: 490px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3rem;
      }
    }
    .cards {
      margin-top: 5.3rem;
      display: flex;
      justify-content: space-between;
      .card-01 {
        @include card-style($rosa-claro, $hero-bg, $grey-02, $white);
      }
      .card-02,
      .card-03,
      .card-04 {
        @include card-style($white, $hero-bg, $grey-02, $rosa-claro);
      }
      @media screen and (max-width: 1130px) {
        display: flex;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 870px) {
        justify-content: space-evenly;
      }
    }
    @media screen and (max-width: 820px) {
      margin-top: 25rem !important;
      padding-top: 6rem;
    }
    @media screen and(max-width: 600px) {
      margin-top: 20rem !important;
    }
    @media screen and(max-width: 490px) {
      margin-top: 10rem !important;
    }
  }
}
