nav{
    background-color: $light-red;
    position: absolute;
    width: 10rem;
    height: 94%;
    margin-left: 2.4rem;
    top: 2rem;
    border-radius: 13rem;
    .block{
        width: 10rem;
        height: 10.7rem;
        border-top-left-radius: 13rem;
        border-top-right-radius: 13rem ;
        background-color: $red;
    }
    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3.3rem;
        justify-content: space-around;
        
        button{
            margin-bottom: 1.3rem;
            width: 5.3rem;
            height: 5.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s all;
            &:not(.selected){
                &:hover{
                    background-color: rgba(0, 0, 0, 0.07);
                    border-radius: 50%;
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05); 
                }
                .imgselected{
                    display: none;
                }
            }
        }
        .selected{
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            .imgnotselected{
                display: none;
            }
            .imgselected{
                display: flex;
            }
        }
        
    }
    .img{
        align-items: center;
        justify-content: center;
        display: flex;
        position: absolute;
        bottom: 3rem;
        left: 2rem;
    }
    
}