$white: #FFFFFF;
$purple: #5F3CA1;
$yellow: #FFBF00;
$rosa: #C5BEDC;
$grey-01: #453F51;
$grey-02: #5E5570;
$rosa-claro: rgba(197, 190, 220, 0.1);
$hero-bg: rgba(235, 87, 87, 0.73);
$vermelhoescuro: rgb(218, 97, 92);
$vermelhoclaro: rgb(220, 118, 115);
