// @import "mixins";
@import "reset";
@import "colors";
@import "grid";

main {
  .contaainer {
    justify-content: center;
    .top-image {
      width: 90vw;
      height: 4.9rem;
      position: absolute;
      top: 2.7rem;
      left: 7.2rem;
      a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        p{
          color: $red;
          font-size: 2rem;
          font-family: 'Overpass', sans-serif;
        }
      }
    }
    width: 100vw;
    height: 100vh;
    display: flex;
    .register-box {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      p {
        color: var(--texts-base, #6a6180);
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem; /* 162.5% */
        margin-bottom: 6.4rem;
      }
      h1 {
        color: $h1;
        font-family: "Poppins", sans-serif;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 3.6rem;
        margin-bottom: 2.7rem;
      }
      form {
        width: 100%;
        max-width: 74.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .left {
          justify-content: space-evenly;
          display: flex;
          flex-wrap: wrap;
          max-width: 74.4rem;
          width: 100%;
          input,
          select {
            width: 100%;
            max-width: 35.2rem;
            height: 7.2rem;
            border: 1px solid #e6e6f0;
            color: $p;
            font-family: Poppins;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            padding-left: 2.4rem;
            margin-bottom: 2.9rem;
            &::placeholder {
              color: $p;
            }
          }
          #nome, #sexo {
            border-radius: 0.8rem 0rem 0rem 0rem;
          }
          #datanascimento, #gruposanguineo {
            border-radius: 0rem 0.8rem 0rem 0rem;
            padding-right: 2.4rem;
          }
          #email, #fatorrh {
            border-radius: 0rem 0rem 0rem 0.8rem;
            
          }
          #senha, #peso {
            border-radius: 0rem 0rem 0.8rem 0rem;
          }
          #estado, #cep, #numero{
            max-width: 23rem;
            @media screen and (max-width: 69rem) {
              max-width: 35.2rem;;
            }
          }
        }
        button {
          margin-top: 3rem;
          width: 35.2rem;
          height: 5.6rem;
          border-radius: 0.8rem;
          background: $btn-background;
          color: $p;
          text-align: center;
          font-family: "Archivo", sans-serif;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.6rem;
          margin-bottom: 4rem;
          transition: 0.3s all;
          &:hover {
            background: $red;
            color: $white;
          }
        }
      }
      a {
        color: $red;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.6rem;
        text-decoration-line: underline;
        text-align: center;
      }
    }
  }
}
