@import "reset";
@import "colors";
@import "grid";
@import "header";
@import "navbar";

main {
  .container {
    .title{
      margin-top: 2rem;
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 2.4rem; /* 120% */
      letter-spacing: 0.02rem;
      text-align: center;
      color: $letterhome;
      text-align: center;
      width: 100%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      //   margin: 18rem 31rem;
      margin: 0 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1,h2{
        color: $letterhome;
        text-align: center;
      }
      h1 {
        font-family: Archivo;
        font-size: 5.4rem;
        font-weight: 700;
        line-height: 4.2rem; /* 77.778% */
      }
      h2 {
        padding-top: 4.6rem;
        font-family: Prosto One;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 4rem;
      }
    }
  }
}
