// @import "mixins";
@import "reset";
@import "colors";
@import "grid";

main {
  .contaainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    .login-box {
      justify-content: center;
      display: flex;
      flex-direction: column;
      h1 {
        color: $h1;
        font-family: "Poppins", sans-serif;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 3.6rem;
        margin-bottom: 2.7rem;
      }
      form {
        max-width: 35.2rem;
        .entradas {
          input {
            width: 100%;
            max-width: 35.2rem;
            height: 7.2rem;
            border: 1px solid #e6e6f0;
            color: $p;
            font-family: Poppins;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            padding-left: 2.4rem;
            &:first-child {
              border-radius: 0.8rem 0.8rem 0rem 0rem;
              margin-bottom: 1.2rem;
            }
            &:last-child {
              border-radius: 0rem 0rem 0.8rem 0.8rem;
              margin-bottom: 2.4rem;
            }
          }
        }
        .conjunto {
          display: flex;
          justify-content: space-between;
          margin-bottom: 4rem;
          text-decoration-line: uns;
          .left {
            display: flex;
            input {
              margin-right: 1.6rem;
              //NECESSÁRIO ADICIONAR CÓDIGO PARA O CHECKBOX FICAR VERMELHO!
            }
            a {
              text-decoration-line: unset;
            }
          }
          .right {
            a {
              text-decoration-line: unset;
            }
          }
          input {
            width: 2.4rem;
            height: 2.4rem;
          }
          p,
          label {
            color: $p;
            font-family: "Poppins", sans-serif;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.4rem; /* 171.429% */
          }
        }
        button {
          width: 35.2rem;
          height: 5.6rem;
          border-radius: 0.8rem;
          background: $btn-background;
          color: $p;
          text-align: center;
          font-family: "Archivo", sans-serif;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.6rem;
          margin-bottom: 4rem;
          transition: 0.3s all;
          &:hover {
            background: $red;
            color: $white;
          }
        }
      }
      a {
        color: $red;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.6rem;
        text-decoration-line: underline;
        text-align: center;
      }
    }
  }
}
