@import "reset";
@import "colors";
@import "grid";
@import "header";
@import "navbar";

main {
  .container {
    bottom: unset;
    .title{
      margin-top: 2rem;
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 2.4rem; /* 120% */
      letter-spacing: 0.02rem;
      text-align: center;
      color: $letterhome;
      text-align: center;
      width: 100%;
    }
    h2 {
      color: var(--texts-base, #6a6180);
      font-family: Poppins;
      font-size: 2.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.6rem; /* 100% */
      margin-top: 3.2rem;
      text-align: center;
    }
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    .top {
      margin-top: 6rem;
      width: 100%;
      // max-width: 115rem;
      display: flex;
      margin-left: 6rem;
      margin-right: 10rem;
      justify-content: center;
      .top-left {
        width: 22rem;
        height: 22rem;
        .retangulo {
          width: 100%;
          height: 100%;
          background-color: $white;
          border-radius: 1rem;
          border: 1px solid #000;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 18rem;
          }
        }
      }
      .top-right {
        width: 100%;
        max-width: 80rem;
        height: 22rem;
        .retangulo {
          width: 100%;
          max-width: 80rem;
          display: flex;
          flex-wrap: wrap;
          border-radius: 1rem;
          border: 1px solid #25213b;
          background: rgba(230, 230, 242, 0.3);
          margin-left: 5rem;
          justify-content: space-around;
          .retangulo-dados {
            width: 40%;
            max-width: 35rem;
            height: 5rem;
            border-radius: 1rem;
            background: #e6e6f2;
            margin: 1rem;
            text-align: left;
            display: flex;
            align-items: center;
            padding-left: 2rem;
          }
        }
      }
      p {
        color: $black;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: normal;
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5rem;
      margin-left: 5rem;
      .conteudo {
        width: 100%;
        max-width: 115rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .bottom-left {
        p {
          color: $black;
          font-family: "Poppins", sans-serif;
          font-size: 2rem;
          font-weight: 400;
          line-height: normal;
        }
      }
      .bottom-right {
        width: 18rem;
        height: 18rem;
        .circulo {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: $red;
          display: flex;
          justify-content: center;
          align-items: center;
          .txt {
            text-align: center;
            color: #fff;
            font-family: Poppins;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          h1 {
            font-size: 4.8rem;
          }
        }
      }
    }
  }
}
